/* app css stylesheet */

/* common */
.btn-full {
  width: 100%;
}
/* common - END */

/* index */
footer {
  padding: 0em 0.5em;
  font-size: 0.7em;
  position: absolute;
}
/* index - END */

/* templates */
.main-template {
  height: 97vh;
}
/* templates - END */

/* login */
#login-container {

}

#login-logo-container {
  margin: 10vh 0vw 0vh;

  font-size: 7em;
  text-align: center;
}

  #login-logo-container #login-logo {
    margin-bottom: -1.36em;
  }

  #login-logo-container #login-loader {
    height: 1.2em;
    width: 1.2em;
  }

.login-section-separator {
  height: 2vh;
}
/* login - END */
