<div id="login-container" class=""
     ng-controller="LoginCtrl">

    <!-- navbar -->
    <nav class="hide-on-small-only">
        <div class="nav-wrapper teal accent-3">
            <a href="#/search" class="brand-logo hide-on-med-and-down">
                &nbsp RoomieCon
            </a>
            <ul class="right hide-on-small-only">
                <li><i class="fa fa-fw fa-registered"></i>&nbsp</li>
            </ul>
        </div>
    </nav>

    <div class="main-template container row">

        <div class="col hide-on-small-only m12 l12">

            <div id="login-loader-line" class="progress">
                <div class="indeterminate"></div>
            </div>

        </div>

        <div class="col hide-on-small-only m8 l8">
            <h4>Looking for roomates?</h4>
            <div><img src="assets/images/login-page.png" style="width:100%"></div>

        </div>

        <form class="col s12 m4 l4">
            <div class="row">
                <div id="login-logo-container" class="col s12 hide-on-med-and-up teal-text text-accent-3">
                    <div id="login-logo"><i class="fa fa-fw fa-registered"></i></div>

                    <div id="login-loader-circle" class="preloader-wrapper">
                        <div class="spinner-layer spinner-blue">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-red">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-yellow">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>

                        <div class="spinner-layer spinner-green">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                        </div>
                    </div>
                </div>

                <div class="input-field col s12">
                    <input id="login-email" type="email" class="validate"
                            ng-model="email">
                    <label for="login-email">Email</label>
                </div>
                <div class="input-field col s12">
                    <input id="login-password" type="password" class="validate"
                            ng-model="password">
                    <label for="login-password">Password</label>
                </div>

                <div class="col s12 login-section-separator"></div>

                <div class="col s12 m12 l12">
                    <button class="waves-effect waves-light btn-large btn-full light-blue"
                            type="submit"
                            ng-click="login()">
                        login</button>
                </div>
                <div class="col s12 m12 l12 login-section-separator"></div>

                <div class="col s12 m12 l12">
                    <button class="waves-effect waves-light btn-large btn-full teal accent-3"
                            type="submit"
                            ng-click="signup()">
                        sign up</button>
                </div>

                <div class="col s12 login-section-separator"></div>

                <div class="col s3 m3 l3">
                    <button class="social-icon waves-effect waves-light btn-large btn-full blue">
                        <i class="fa fa-fw fa-twitter"></i>
                    </button>
                </div>
                <div class="col s3 m3 l3">
                    <button class="social-icon waves-effect waves-light btn-large btn-full red lighten-1">
                        <i class="fa fa-fw fa-google-plus"></i>
                    </button>
                </div>
                <div class="col s3 m3 l3">
                    <button class="social-icon waves-effect waves-light btn-large btn-full blue darken-4">
                        <i class="fa fa-fw fa-facebook"></i>
                    </button>
                </div>
                <div class="col s3 m3 l3">
                    <button class="social-icon waves-effect waves-light btn-large btn-full brown">
                        <i class="fa fa-fw fa-instagram"></i>
                    </button>
                </div>

                <div class="col s12 login-section-separator"></div>

                <div class="col s12 m12 l12 right-align">
                    <a href="#/passwordreset" class="">forgot your password?</a>
                </div>
            </div>
        </form>
    </div>
</div>